scratch/Swapnil-Holkar/GMSIS_DB.db.sqbpro
/scratch/Gleb-Mirolyubov/GM-SIS/nbproject/private/
/scratch/Gleb-Mirolyubov/GM-SIS/dist/
/scratch/Gleb-Mirolyubov/GM-SIS/build/
/scratch/Yusuf-Pholby/working/GM-SIS/nbproject/private/
/scratch/Yusuf-Pholby/working/GM-SIS/build/
/scratch/Yusuf-Pholby/working/GM-SIS/dist/
/scratch/Yusuf-Pholby/scratchProject/GM-SIS/build/
/scratch/Yusuf-Pholby/scratchProject/GM-SIS/dist/
/scratch/Yusuf-Pholby/scratchProject/GM-SIS/nbproject/private/
/scratch/Yusuf-Pholby/backup/GM-SIS/build/
/scratch/Yusuf-Pholby/backup/GM-SIS/dist/
/scratch/Yusuf-Pholby/backup/GM-SIS/nbproject/private/